/* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/

.app-container {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.navbar-container {
  display: flex;
  text-align: left;
  width: 100%;
}

.logo-container {
  display: flex;
  background-color: #3367d6;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
  padding-right: 16px;
  width: 100%;
  max-width: 100%;
  margin: auto;
  border-radius: 5px;
}

.history-img {
  width: 97px;
  height: 26px;
  display: flex;
  align-self: center;
  margin-left: 25px;
}

.input-search-container {
  display: flex;
  align-self: center;
  margin: auto;
}
.search-logo-container {
  background-color: #06318f;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: left;
  padding: 10px;
  border: 2px solid #66686b;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

@media screen and (min-width: 768px) {
  .search-logo-container {
    width: 40px;
  }
}
.search-icon {
  height: 20px;
  width: 20px;
}

@media screen and (min-width: 768px) {
  .search-icon {
    width: 25px;
  }
}
.search-input {
  color: black;
  background-color: #dee3ec;
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 500;
  width: 100%;
  outline: none;
  border: 1px solid #6697ff;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left: 10px;
}
@media screen and (min-width: 768px) {
  .search-input {
    width: 350px;
  }
}

.history-list-container {
  width: 100%;
  max-width: 100%;
  background-color: ;
}

.history-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  margin: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0.2, 0.2);
}

.Empty-history-message {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Roboto';
  width: 100%;
  min-height: 400px;
  color: #f50707;
  font-size: 22px;
}
